<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Page</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

   <div class="navbar navbar-inverse navbar-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">Blogs</a>
          </div>
          <div class="navbar-collapse collapse" style="height: 1px;">
            <ul class = "nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/authors">Authors</a></li>
              <li><a href="/posts">Posts</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
         </div>
        </div>
    </div>


  <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact Me
                    <small>Wanna get hired?</small>
                </h1>
                <h3>Think you have what it takes to work HERE!</h3>
                <p class="lead">Well... Here are my contacts</p>
            </div>
        </div>
        <hr>


        <div class="col-lg-12">
            <h2> RESUMES?</h2>
            <p>GOT an awesome resume you want me to THROW AWAY, please email me at:</p>
            <p><strong><a href="mailto:ryanshim92@gmail.com">ryanshim92@gmail.com</a></strong></p>
            <h2>Linkedin?</h2>
            <p>TRYING to connect with me on LINKEDIN?? Only to get REJECTED!! Please connect with me at:</p>
            <p><strong><a href="https://www.linkedin.com/pub/ryan-shim/97/b12/863">https://www.linkedin.com/pub/ryan-shim/97/b12/863</a></strong></p>
            <h2><i class="fa fa-code"></i> FACEBOOK?!</h2>
            <p>JUST wanna be friends???? Only to get IGNORED? Please add me at:</p>
            <p><strong><a href="https://www.facebook.com/ryan.shim.7">https://www.facebook.com/ryan.shim.7</a></strong></p>
        </div>
           
        </div>
        <hr>
        <footer>
          <p>© Ryan's Awesome 2014</p>
        </footer>
        <br>

    </div>

</body>

</html>