<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post Specific Page</title>
</head>
<body>
  
  <p> A little info about our Post!
    <br>
    Title: <%= post.title%>
    <br>
    Body: <%= post.body%>
  </p>
</body>
</html>